.container-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 160px 0 60px 0;
  @media (max-width: 600px) {
    margin: 90px 0 60px 0;
  }
}

.welcome {
  font-size: 40px;
  font-weight: 500;

  color: #ffffff;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}

.my-name {
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.dev {
  padding: 16px 24px;
  color: #edf2f4;

  font-size: 30px;
  font-weight: 500;
  border-radius: 40px;
  @media (max-width: 600px) {
    font-size: 20px;
  }
}
